.home-wrapper {
	margin-top: 75px;
}
.recipe_add_action {
	text-align: right;
	margin-bottom: 11px;
	margin-right: 8px;
}
.add-recipe-btn-wrap{
    text-align: right;
    margin-right: 10px;
}

.recipes {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.MuiCard-root {
    margin-top: 10px;
    margin-right: 30px;
	margin-left: 30px;
}
.MuiPaper-root{
	padding: 20px;
}
.each_recipe .MuiPaper-root {
	max-width: 275px;
}
/* 
@media(max-width: 500px) {
	.recipes_wrapper {
		.recipes {
			.MuiCard-root {
				margin: 10px;
			}
		}
		.recipe_add_action {
			margin-bottom: 15px;
		}
	}
} */

.recipes_wrapper .recipe_add_action {
		text-align: right;
	}

.recipes_wrapper .recipes {
		display: flex;
		flex-wrap: wrap;
	}
.recipes_wrapper .MuiCard-root {
		margin-top: 10px;
		margin-right: 30px;
		margin-left: 30px;
	}

@media(max-width: 500px) {
	.recipes_wrapper .recipes .MuiCard-root {
				margin: 10px;
		
		}
		.recipe_add_action {
			margin-bottom: 15px;
		}
}